@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Freeman&display=swap');
html {
  color-scheme: only dark;
  background-image: url(Bredland_cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
main h1 {
  text-align: center;
  font-family: 'Briem Hand', 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 400px;
}
#video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-family: 'Freeman', system-ui, ui-sans-serif
}
